footer{
    display: inline-flex;
    justify-content: space-evenly;
    color: $white;
    background-color: $raising-black;
    width: 100vw;
    height: 100px;

    h6{
        margin-top: 30px;
    }
}