.topnav {
    background-color: $white;
    overflow: hidden;
    align-items: center;
    font-family: 'Raleway', sans-serif;

}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color:$nickel;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color:$nickel;
}
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: $white;
    color: white;
}
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
    color: $raising-black;
}
@media (min-width: 576px){

    
.topnav {
   
    margin-left: 70px;
    }
}